article,
aside,
details,
figcaption,
figure,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0;
}
.ais-Highlight-highlighted,
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  /* color: inherit; */
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  /* font: 112.5%/1.45em georgia, serif; */
  box-sizing: border-box;
  line-height: 1.6;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  /* margin-bottom: 1.45rem; */
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  /* letter-spacing: -0.07rem; */
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-size: 0.85rem;
  line-height: 1.42;
  /* background: hsla(0, 0%, 0%, 0.04); */
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  /* padding: 1.45rem; */
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
/* blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
} */
blockquote {
  border-left: 1px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  padding-left: 1rem;
}

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsl(0deg 0% 40% / 20%);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: 'tnum';
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum';
  -webkit-font-feature-settings: 'tnum';
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono', 'Liberation Mono', Menlo, Courier,
    monospace;
  padding: 0;
  /* padding-top: 0.2em;
  padding-bottom: 0.2em; */
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: ' ';
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: '';
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.line-numbers .line-numbers-rows {
  padding: 1rem 0 1rem 1rem !important;
}

.anchor {
  position: absolute;
  top: 0;
  font-size: 100%;
  left: -1.5rem;
  letter-spacing: -1px;
  width: 24px;
}

.anchor svg {
  opacity: 0;
  transform: translateX(3px);
  transition: all 0.3s ease;
}

.anchor:hover svg {
  opacity: 1;
  transform: translateX(0px);
}

.twitter-tweet-rendered {
  margin: 0 auto;
}

.maxWidthGlobal {
  max-width: 1280px;
}

.floatingWrapper {
  top: 5rem;
  right: 0rem;
  position: absolute;
  overflow: hidden;
  animation: bannerImgBounce 5s ease-in-out 0s infinite alternate;
  max-width: 100%;
  height: auto;
}

.floatingImage {
  display: block;
  right: 0rem;
}

@keyframes BannercircleRotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0.5;
  }
}

@media only screen and (max-width: 1400px) {
  .floatingWrapper {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .floatingImage {
      display: none;
  }
}

@keyframes bannerImgBounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

/*
* 11. accrodion styles
*/

.faq-one {
  padding: 0 0 4rem;
  position: relative;
  width: 100%;
}

.faq-one__bg {
  position: absolute;
  bottom: 4%;
  right: 0;
}

.faq-one .container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 992px) {
  .faq-one .container {
    max-width: 920px;
  }
}

.faq-accrodion .accrodion {
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.faq-accrodion .accrodion:before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 0px;
  right: 0px;
  border-radius: 12px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#50251c),
    to(#ffa065)
  );
  background-image: linear-gradient(0deg, #50251c 0%, #ce6509 100%);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.faq-accrodion .accrodion + .accrodion {
  margin-top: 20px;
}
.faq-accrodion .accrodion.active {
  -webkit-box-shadow: 0px 20px 60px 0px rgba(80, 37, 28, 0.3);
  box-shadow: 0px 20px 60px 0px rgba(80, 37, 28, 0.3);
}
.faq-accrodion .accrodion.active .accrodion-inner {
  margin: 0 2px;
  background-color: rgba(239, 234, 231, 100%);
}
.faq-accrodion .accrodion.active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.faq-accrodion .accrodion.active .accrodion-title {
  padding-bottom: 0;
}
.faq-accrodion .accrodion.active .accrodion-title h4 {
  color: #ce6509;
}
.faq-accrodion .accrodion .accrodion-inner {
  background-color: rgba(239, 234, 231, 100%);
  padding: 32px 0;
  border: 1px solid rgb(226, 214, 207);
  border-radius: 12px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: rgb(247 244 242) 1px 1px 0px inset;
}
.faq-accrodion .accrodion .accrodion-title {
  padding: 0px 40px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}
@media (max-width: 375px) {
  .faq-accrodion .accrodion .accrodion-title {
    padding-right: 50px;
  }
}
.faq-accrodion .accrodion .accrodion-title h4 {
  margin: 0;
  color: #50251c;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 375px) {
  .faq-accrodion .accrodion .accrodion-title h4 {
    line-height: 1.4em;
  }
}
.faq-accrodion .accrodion .accrodion-content .inner {
  padding: 0 40px;
  padding-top: 25px;
  padding-bottom: 0px;
}
.faq-accrodion .accrodion .accrodion-content p {
  margin: 0;
  color: #74727a;
  font-size: 16px;
  line-height: 30px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.block-title {
  margin-bottom: 45px;
}
.block-title__title {
  margin: 0;
  margin-top: -10px;
  font-size: 50px;
  font-weight: 400;
  color: #2a2833;
  line-height: 1.2em;
}
.block-title__title span {
  font-weight: 700;
}

/*
* 12. fact styles
*/
.fact-one {
  padding-top: 60px;
  padding-bottom: 60px;
  z-index: 0;
}
.fact-one .container {
  z-index: 10;
  position: relative;
}
.fact-one__single {
  -webkit-box-shadow: 0px 20px 60px 0px rgba(42, 40, 51, 0.05);
  box-shadow: 0px 20px 60px 0px rgba(42, 40, 51, 0.05);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  position: relative;
}
@media (max-width: 769px) {
  .fact-one__single {
  height: auto;
  width: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  }
}
.fact-one__single:before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 50%;
  background-image: linear-gradient(40deg, #50251c 0%, #50251c 100%);
}
@media (max-width: 769px) {
  .fact-one__single:before {
    background-image: none;
  }
}
.fact-one__inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  background-color: rgb(240, 233, 231);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 769px) {
  .fact-one__inner {
    background-color: transparent;
  }
}
.fact-one__inner h3,
.fact-one__inner p {
  margin: 0;
}
.fact-one__inner h3 {
  color: #2a2833;
  font-weight: 400;
  font-size: 40px;
  line-height: 1em;
}
.fact-one__inner p {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-weight: 500;
  color: #74727a;
  line-height: 1em;
  margin-top: 10px;
}

/*
* 16. service styles
*/
.service-one {
  padding-bottom: 90px;
}
.service-one .container {
  position: relative;
  z-index: 10;
}
.service-one__single {
  position: relative;
  margin-bottom: 25px;
  border: 1px solid rgb(226, 214, 207);
  border-radius: 12px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: rgb(247 244 242) 1px 1px 0px inset;
}
.service-one__single:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -3px;
  border-radius: 12px;
  opacity: 0;
  background-image: linear-gradient(40deg, #50251c 0%, #ce6509 100%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.service-one__single h3 {
  font-family: "Kaushan Script";
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  color: #50251c;
}
.service-one__single h3 a {
  color: inherit;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.service-one__single h3 a:hover {
  color: #ce6509;
}
.service-one__single p {
  color: #74727a;
  font-size: 16px;
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
.service-one__single:hover:before {
  opacity: 1;
}
.service-one__link {
  color: #2a2833;
  font-size: 22px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.service-one__link:hover {
  color: #ce6509;
}
.service-one__inner {
  background-color: #efeae7;
  text-align: center;
  border-radius: 12px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 35px;
  width: 280px;
  min-height: 375px;
}
.service-one__icon {
  width: 108px;
  height: 108px;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(80, 37, 28, 0.8);
  box-shadow: 0px 20px 40px 0px rgba(80, 37, 28, 0.8);
  border-radius: 5px;
  background-image: linear-gradient(40deg, #50251c 0%, #ce6509 100%);
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 70px;
  margin-bottom: 30px;
}
.service-one [class*="col-"]:nth-child(1) .service-one__single:before,
.service-one [class*="col-"]:nth-child(1) .service-one__icon {
  background-image: linear-gradient(40deg, #50251c 0%, #ce6509 100%);
}
.service-one [class*="col-"]:nth-child(1) .service-one__icon {
  -webkit-box-shadow: 0px 20px 40px 0px rgba(80, 37, 28, 0.8);
  box-shadow: 0px 20px 40px 0px rgba(80, 37, 28, 0.8);
}
.service-one [class*="col-"]:nth-child(2) .service-one__single:before,
.service-one [class*="col-"]:nth-child(2) .service-one__icon {
  background-image: linear-gradient(40deg, #50251c 0%, #ce6509 100%);
}
.service-one [class*="col-"]:nth-child(2) .service-one__icon {
  -webkit-box-shadow: 0px 20px 40px 0px rgba(80, 37, 28, 0.8);
  box-shadow: 0px 20px 40px 0px rgba(80, 37, 28, 0.8);
}
.service-one [class*="col-"]:nth-child(3) .service-one__single:before,
.service-one [class*="col-"]:nth-child(3) .service-one__icon {
  background-image: linear-gradient(40deg, #50251c 0%, #ce6509 100%);
}
.service-one [class*="col-"]:nth-child(3) .service-one__icon {
  -webkit-box-shadow: 0px 20px 40px 0px rgba(80, 37, 28, 0.8);
  box-shadow: 0px 20px 40px 0px rgba(80, 37, 28, 0.8);
}
.service-one [class*="col-"]:nth-child(4) .service-one__single:before,
.service-one [class*="col-"]:nth-child(4) .service-one__icon {
  background-image: linear-gradient(40deg, #50251c 0%, #ce6509 100%);
}
.service-one [class*="col-"]:nth-child(4) .service-one__icon {
  -webkit-box-shadow: 0px 20px 40px 0px rgba(80, 37, 28, 0.8);
  box-shadow: 0px 20px 40px 0px rgba(80, 37, 28, 0.8);
}
