.animatedBackground {
  transition: opacity 0.5s ease-in-out;
}

.heroWrapper {
  position: relative;
  overflow: hidden;
}

.backgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #1e2022; /* Dark background color */
}

.codeCanvas {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  z-index: 0;
}

.contentVisible {
  opacity: 0;
  pointer-events: none;
}
