.securitySection {
  position: relative;
  color: #faf2e3;
  padding: 6rem 0;
  overflow: hidden;
}

.securityBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  background-color: transparent;
  padding: 0px;
  line-height: 0;
}

.securitySquare {
  width: 12px;
  height: 12px;
  transition: background-color 0.3s ease;
  flex: 0 0 auto;
}

.twinkle {
  animation: twinkle 3s ease-in-out infinite alternate;
}

@keyframes twinkle {
  0% {
    opacity: 0.05;
  }
  100% {
    opacity: 0.25;
  }
}

/* Add this new rule */
@media (prefers-reduced-motion: reduce) {
  .securitySquare {
    animation: none;
  }
}

.securityContent {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 4rem;
}

.securityHeadingContainer {
  text-align: center;
  margin-bottom: 2rem;
}

.securityHeading {
  font-family: 'Bakbak One', sans-serif;
  font-size: clamp(50px, 12vw, 150px);
  font-weight: bold;
  color: #faf2e3; /* Changed to BaoWhite */
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: center; /* Ensure it's centered */
}

.securitySubheading {
  font-size: clamp(18px, 2vw, 28px);
  font-family: 'Bakbak One', sans-serif;
  color: #faf2e3; /* Changed to BaoWhite */
  text-transform: uppercase;
  text-align: center; /* Ensure it's centered */
}

.securityGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Change to 2 columns */
  gap: 2rem;
  max-width: 1200px; /* Add max-width to control overall width */
  margin: 0 auto; /* Center the grid */
}

.securityItem {
  background-color: #1e2022; /* BaoBlack color */
  border-radius: 12px;
  padding: 2rem; /* Increase padding */
  box-shadow: 0 2px 4px rgba(226, 26, 83, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px; /* Set a minimum height */
}

.securityItem h3 {
  font-family: 'Bakbak One', sans-serif;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #faf2e3; /* Changed to BaoWhite */
  text-align: center;
}

.securityItem p {
  margin-bottom: 1rem;
  font-size: 1.1rem; /* Increase font size */
  line-height: 1.5;
  color: #faf2e3; /* Ensure paragraph text is BaoWhite */
  text-align: center; /* Center the paragraph text */
}

@media (max-width: 1024px) {
  .securityGrid {
    grid-template-columns: 1fr; /* Switch to single column on smaller screens */
  }
}

@media (max-width: 768px) {
  .securityContent {
    padding: 2rem 1rem; /* Reduce padding on smaller screens */
  }

  .securityItem {
    padding: 1.5rem; /* Reduce padding on smaller screens */
  }
}
